.main-button {
  color: white;
  font-size: x-large;
  background-color: rgba(0, 58, 155, 1);
  border-radius: 30px;
  width: 90%;
  height: 70px;
  box-shadow: 10px 10px 5px black;
}

.main-button:hover{
  background-color: rgba(0, 58, 155, 0.7);
  box-shadow: 10px 10px 5px black;
  color: white;
}

.histo-button {
  background-color: rgba(62, 130, 247, 1);
  border-radius: 30px;
  text-align: center;
  color: white;
  width: 75%;
  height: 30px;
  box-shadow: 10px 10px 5px black;
}

.histo-button:hover {
  opacity: 0.7;
  background-color: rgba(62, 130, 247, 0.7);
  color: white;
  box-shadow: 10px 10px 5px black;
}

.buttons {
  box-shadow: 10px 10px 5px black;
}
