.main-button {
  color: white;
  font-size: x-large;
  background-color: #003A9B;
  border-radius: 30px;
  width: 90%;
  height: 70px;
  box-shadow: 10px 10px 5px black;
}

.main-button:hover{
  opacity: 0.7;
  background-color: #003A9B;
  box-shadow: 10px 10px 5px black;
}

.histo-button {
  background-color: #3e82f7;
  border-radius: 30px;
  text-align: center;
  color: white;
  width: 75%;
  height: 30px;
  box-shadow: 10px 10px 5px black;
}

.histo-button:hover {
  opacity: 0.7;
  background-color: #003A9B;
  color: white;
  box-shadow: 10px 10px 5px black;
}

.buttons {
  box-shadow: 10px 10px 5px black;
}
