.main-button {
  color: white;
  font-size: xx-large;
  background-color: #003A9B;
  border-radius: 30px;

}

.histo-button {
  background-color: #003A9B;
  border-radius: 30px;
  text-align: center;
  color: white;
}
