.card-text {
  border-radius: 20px;
  border-color: #003A9B;
  box-shadow: 10px 5px 5px red;
}

.card-body {
  border-radius: 20px;
  border-color: #003A9B;
  box-shadow: 10px 5px 5px red;
}

.card-profil {
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 5px 5px black;
  height: 200px;
  border-color: #003A9B;
  align-items: center;
  text-align: center;
  width: 75%;
}

.avatar {
  border-radius: 50%;
  height: 40px;
}
