.page-center {
  align-content: center;
}

.profil-container {
  align-content: center;
  text-align: -webkit-center;
}

.title {
  font-size: xxx-large;
  font-weight: bold;
}


.bottom-container {
  width: 100%;
  color: white;
  height: 90px;
  background-position: center;
  align-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.7)), url('BureauV2.jpg');
  background-size: contain;
  box-shadow: 10px 10px 5px black;
}

.hero-container {
  width: 100%;
  color: white;
  height: 230px;
  background-position: center;
  align-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.7)), url('BureauV2.jpg');
  background-size: contain;
  box-shadow: 10px 10px 5px black;
}

.icon {
  color: white;
  size: 20px;
}

.nav-bottom {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
}
