<h1>Ici sera affiché le Bilan de la conversation avec des conseils étape par étape</h1>
<p>Find me in app/views/results/show.html.erb</p>




<%= link_to "Retourner à la Page d'accueil", root_path, class:"btn histo-button mt-3" %>
